.burger-menu {
  width: 30px;
  height: 21px;
  display: none;
  @extend %cursor-pointer;
  user-select: none;

  @media (max-width: 765px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.open {
      transform: rotate(-90deg);
    }
  }

  @include media-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.open {
      transform: rotate(-90deg);
    }
  }
}

.burger-menu__line {
  width: 100%;
  height: 2px;
  background: $color-primary;
}