.credit-card {
  @extend %flex;
  @extend %js-content-space-between;
  padding: 1rem 1.5rem;
  background: $color-primary;
  border-radius: 0.9rem;

  @include media-mobile {
    gap: 1.5rem;
    padding: 1.3rem 1.5rem 0.8rem;
  }
}

.credit-number {
  color: $color-section-header;
}