%link-transition {
  transition: ease-in-out 0.8s;
}

.list {
  @extend %flex;
  @extend %al-items-center;
}

.list__item {
  &:not(:first-child) {
    margin: 0 0 0 3.6rem;
  }
}

.list__link {
  position: relative;
  font-family: $font-family-second;
  @include font($size-main, $line-main);
  color: $color-link;
  @extend %link-transition;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -6px;
    left: 1px;
    background: $color-primary;
    opacity: 0;
    @extend %link-transition;
  }
  &--active {
    color: $color-link-active;
    &::before {
      opacity: 1;
    }
  }
  &:hover {
    color: $color-link-active;
    @extend %transition;
    &::before {
      opacity: 1;
    }
  }
}
