%slider {
  @extend %flex;
  @extend %flex-wrap;
  @extend %js-content-space-between;
  @extend %al-items-center;
}

.slider__wrapper {
  @extend %flex;
  @extend %js-content-space-between;
  @extend %al-items-center;
  overflow: hidden;
}

.slider {
  @extend %slider;
  gap: 9rem;

  @include media-tablet {
    flex-basis: 580px;
    flex-wrap: nowrap;
    gap: 4rem;
    overflow: hidden;
  }

  @include media-mobile {
    flex-basis: 270px;
    overflow: hidden;
    gap: 0;
  }
}

.slide {
  @extend %flex;
  @extend %flex-column;
  @extend %al-items-center;
  flex-basis: 270px;
  background: $color-link-active;
  border-radius: $img-radius;
  @extend %transition;
  @extend %cursor-pointer;

  &:hover {
    background: $color-light;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.slide__img {
  margin: $slide-margin-bottom;
}

.slide__title {
  margin: $slide-margin-bottom;
  @extend %font-add;
  @include font($size-second, $line-second);
  color: $color-section-header;
  @extend %letter-spacing-main;
}

.slide__button {
  margin: $slide-margin-bottom;
}

/*Arrows */

%paginations {
  width: 52px;
  height: 52px;
  @extend %flex;
  @extend %js-content-center;
  @extend %al-items-center;
  border: 0.2rem solid $color-primary;
  border-radius: $border-radius-main;
  @extend %transition;
  @extend %cursor-pointer;
}

.arrow {
  @extend %paginations;

  &:focus {
    background: $color-primary-light;
  }

  &:hover {
    background: $color-primary-light;
    box-shadow: rgba(255, 255, 255, 0.978) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  @include media-mobile {
    position: absolute;
    bottom: 9.5rem;
  }
}

#arrow-left {
  @include media-mobile {
    left: 6.8rem;
  }
}

#arrow-right {
  @include media-mobile {
    right: 6.8rem;
  }
}

.pagination {
  @extend %paginations;

  &--inactive {
    color: $color-link;
    border-color: $color-link;

    &:hover {
      color: $color-button;
      border-color: $color-primary;
    }
  }

  &--active {
    background: $color-primary;
    color: $color-button;
  }
}