.slider__wrapper {
  @extend %flex;
  @extend %js-content-space-between;
  @extend %al-items-center;
}

.slider {
  @extend %flex;
  @extend %flex-wrap;
  @extend %js-content-space-between;
  @extend %al-items-center;
  gap: 9rem;
}

.slide {
  @extend %flex;
  @extend %flex-column;
  @extend %al-items-center;
  flex-basis: 270px;
  background: $color-link-active;
  border-radius: 0.3rem;
  @extend %transition;
  @extend %cursor-pointer;
  &:hover {
    background: $color-light;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.slide__img {
  margin: $slide-margin-bottom;
  border: $img-radius;
}

.slide__title {
  margin: $slide-margin-bottom;
  @extend %font-add;
  @include font($size-second, $line-second);
  color: $color-section-header;
  @extend %letter-spacing-main;
}

.slide__button {
  margin: $slide-margin-bottom;
}

/*Arrows */

%paginations {
  width: 52px;
  height: 52px;
  @extend %flex;
  @extend %js-content-center;
  @extend %al-items-center;
  border: 0.2rem solid $color-primary;
  border-radius: $border-radius-main;
  @extend %cursor-pointer;
  @extend %transition;
}

.arrow {
  @extend %paginations;
  &:focus {
    background: $color-primary-light;
  }
  &:hover {
    background: $color-primary-light;
  }
}

.pagination {
  @extend %paginations;
  &--inactive {
    color: $color-link;
    border-color: $color-link;
    &:hover {
      color: $color-button;
      border-color: $color-primary;
    }
  }
  &--active {
    background: $color-primary;
    color: $color-button;
  }
}
