body {
  min-height: 100vh;
  @extend %flex;
  flex-direction: column;
  @extend %js-content-space-between;
  font-family: $ff-main;
  @include font($main-size, 1.5);
  color: $main-color;
  background: $light-color;
}
