body {
  min-height: 100vh;
  @extend %flex;
  @extend %flex-column;
  @extend %js-content-space-between;
  font-family: $font-family-primary;
  @include font($size-main, $line-main);
  color: $color-paragraph;
  background: $color-light;
  overflow: hidden;
}


.boody-hidden {
  height: 100vh;
  overflow-y: hidden;
  min-height: auto;
}