.our-pets__header {
  background: $color-light;
}

/* Logo */

.our-pets__logo {
  .logo__title {
    color: $color-section-header;
  }
  .logo__subtitle {
    color: $color-button;
  }
}

/* Header */

.our-pets__nav {
  .list__link {
    color: $color-section-header;
    &:hover {
      color: $color-button;
    }
    &--active {
      color: $color-button;
    }
  }
}

/* Our-pets Slider */

.our-pets__slider {
  gap: 4rem;
}

.our-pets-slider__wrapper {
  @extend %flex-column;
}

.our-pets__slider-paginations {
  padding: 4.5rem 0 0 0;
}

.slider-paginations {
  @extend %flex;
  gap: 2rem;
}
