%flex {
  display: flex;
}

%flex-wrap {
  flex-wrap: wrap;
}

%flex-column {
  flex-direction: column;
}

%js-content-space-between {
  justify-content: space-between;
}

%js-content-center {
  justify-content: center;
}

%al-items-center {
  align-items: center;
}

%font-add {
  font-family: $font-family-second;
}

%text-center {
  text-align: center;
}

%transition {
  transition: ease-in-out 0.5s;
}

%cursor-pointer {
  cursor: pointer;
}

%letter-spacing-main {
  letter-spacing: 0.06em;
}

%custom-scroll {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-background-section;
    border-radius: 10px;
  }
}

%overlay {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 320px;
  height: 100%;
  background: #292929;
}