/* Color */

$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-section-header: #545454;
$color-paragraph: #4c4c4c;
$color-button: #292929;
$color-link: #cdcdcd;
$color-link-active: #fafafa;
$color-background-section: #f6f6f6;

$color-italic: #b2b2b2;
$color-light: #ffffff;
$color-modal: #000000;

/* Size */

$size-main: 1.5rem;
$size-second: 2rem;
$size-button: 1.7rem;
$size-header: 3.5rem;
$size-italic: 1.2rem;

/* Line-height */

$line-main: 2.4rem; /* 160% */
$line-second: 2.3rem; /* 115% */
$line-header: 4.6rem; /* 130% */
$line-button: 2.2rem; /* 130% */
$line-modal-text: 1.4rem; /* 110% */
$line-logo-subtitle: 1.5rem; /*  */
$line-modal-info: 1.6rem; /* 110% */
$line-italic: 1.8rem;

/* Font Family */

$font-family-primary: "Georgia", serif;
$font-family-second: "Arial", Helvetica, sans-serif;

/* Radius*/

$border-radius-main: 10rem;
$card-radius: 0.9rem 0.9rem 0px 0px;

/* Font Weight */

$regular: 400;
$bold: 700;

/* Width */

$main-width: 1230px;
$tablet-width: 738px;
$mobile-width: 330px;

/* Padding */

$padding-inline: 1.5rem;
