/* Color */

$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-section-header: #545454;
$color-paragraph: #4c4c4c;
$color-button: #292929;
$color-link: #cdcdcd;
$color-link-active: #fafafa;
$color-background-section: #f6f6f6;

$color-information: #b2b2b2;
$color-light: #ffffff;
$color-modal: #000000;

$start-screen-gradient-background: url("../images/background/noise_transparent@2x.png"),
  linear-gradient(90deg, #5b483a, #211f20);
$footer-gradient-background: url("../images/background/noise_transparent@2x.png"),
  linear-gradient(90deg, #5b483a, #211f20);

/* Size */

$size-main: 1.5rem;
$size-second: 2rem;
$size-header-mb: 2.5rem;
$size-button: 1.7rem;
$size-header: 3.5rem;
$size-logo-title: 3.2rem;
$size-logo-subttile: 1.3rem;
$information-size: 1.2rem;
$size-hero-title: 4.4rem;

/* Line-height */

$line-main: 2.4rem; /* 160% */
$line-second: 2.3rem; /* 115% */
$line-header: 4.6rem; /* 130% */
$line-header-mb: 3.2rem; /* 130% */
$line-button: 2.2rem; /* 130% */
$line-modal-text: 1.4rem; /* 110% */
$line-logo-subtitle: 1.5rem;
$line-modal-info: 1.7rem; /* 110% */
$line-information: 1.8rem;
$line-logo-title: 3.5rem;
$line-hero: 5.7rem;

/* Font Family */

$font-family-primary: "Georgia", serif;
$font-family-second: "Arial", Helvetica, sans-serif;

/* Radius*/

$border-radius-main: 10rem;
$img-radius: 0.9rem 0.9rem 0px 0px;

/* Font Weight */

$regular: 400;
$bold: 700;

/* Width */
$tablet-width: 768px;
$mobile-width: 426px;

$main-width-container: 1230px;
$tablet-width-container: 738px;
$mobile-width-container: 330px;
$mobile-widh-big: 506px;

/* Max-width section */

$max-width-about: 880px;
$max-width-donation: 945px;

/* Padding & Margin */

$hero-margin-bottom: 0 0 4.2rem 0;
$about-margin-bottom: 0 0 2.6rem 0;
$section-margin-bottom: 0 0 6rem 0;
$slide-margin-bottom: 0 0 3rem 0;
$donation-margin-bottom: 0 0 2rem 0;
$gap-collumns: 12rem;
$gap-row: 3rem;
$padding-inline: 1.5rem;
