.donation {
  background: $color-background-section;
}

.donation__container {
  max-width: $max-width-donation;
  @extend %flex;
  @extend %al-items-center;
  @extend %js-content-space-between;
  @include media-tablet {
    flex-direction: column-reverse;
    gap: 6rem;
  }
  @include media-mobile {
    max-width: $mobile-width-container;
    gap: 4rem;
    text-align: center;
  }
}

.donation__img {
  flex-basis: 505px;
}

.donation__content {
  max-width: 380px;
  @extend %flex;
  @extend %flex-column;
  gap: 2rem;
}

.donation__header {
  padding: 0 8rem 0 0;
  @include media-mobile {
    padding: 0;
  }
}

.donation__subtitle {
  color: $color-section-header;
  @include media-mobile {
    line-height: $line-main;
  }
}

.donation__text {
  @include font($information-size, $line-information, 400, italic);
  color: $color-information;
  @include media-mobile {
    text-align: justify;
  }
}

.donation__credit-card {
  margin: 0 3.1rem 0 0;
  @include media-mobile {
    margin: 0 auto;
  }
}
