%footer-contacts {
  @extend %flex;
  @extend %flex-column;
}

%footer-contacts-items {
  @extend %flex;
  @extend %al-items-center;
  gap: 2rem;
}

.footer {
  background: $footer-gradient-background;
}

.footer__container {
  padding: 4rem 0 0;
  @include media-tablet {
    max-width: 670px;
    padding: 1.8rem 0 0;
  }
  @include media-mobile {
    max-width: $mobile-width-container;
  }
}

.footer-columns {
  @extend %flex;
  justify-content: space-around;
  gap: 13rem;
  @include media-tablet {
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
  }
  @include media-mobile {
    gap: 3rem;
  }
}

.footer-column {
  padding: 1.8rem 0 0 0;
  @include media-tablet {
    padding: 1.35rem 0 0 0;
  }
  @include media-mobile {
    padding: 1rem 0 0;
    &:last-of-type {
      padding: 1rem 0;
    }
  }
}

.footer-column__title {
  color: $color-light;
  .title-break-line {
    display: block;
    @include media-mobile {
      display: inline;
    }
  }
}

.mail__info,
.phone__number,
.location__info {
  color: $color-primary;
  @include font($size-second, $line-second);
  &:hover {
    color: $color-link-active;
  }
}

.footer__contact {
  @extend %footer-contacts;
  gap: 3.76rem;
  @include media-mobile {
    gap: 4rem;
  }
}

.mail,
.phone {
  @extend %footer-contacts-items;
  @include media-mobile {
    align-self: center;
  }
}

.footer__location {
  @extend %footer-contacts;
  gap: 3.1rem;
  @include media-mobile {
    gap: 4rem;
  }
}

.footer__location-title {
  @include media-mobile {
    padding-inline: 1.5rem;
  }
}

.location__city {
  @extend %footer-contacts-items;
  @include media-tablet {
    padding-inline: 1rem;
  }
  &:first-of-type {
    @include media-mobile {
      gap: 1.9rem;
    }
  }
}

.location__info {
  max-width: 260px;
}

.footer__link {
  display: inline-flex;
}
