.hero {
  background: $start-screen-gradient-background;
}

.hero__container {
  @extend %flex;
  @extend %js-content-space-between;
  @extend %al-items-center;
}

.hero__content {
  max-width: 460px;
  padding: 0 0 7.8rem;
}

.hero__title {
  margin: $hero-margin-bottom;
  padding: 0 15rem 0 0;
}

.hero__text {
  margin: $hero-margin-bottom;
  @extend %font-add;
  color: $color-link;
}
