.our-friends {
  background: $color-background-section;
}

.our-friends__title {
  margin: 0 0 5.4rem 0;
}

.our-friends-slider__wrapper {
  margin: $section-margin-bottom;
}

.our-friends__button {
  @extend %text-center;
}
