.our-friends {
  background: $color-background-section;
}

.our-friends__container {
  position: relative;
}

.our-friends__title {
  margin: 0 0 5.4rem 0;
  @include media-mobile {
    margin: 0 0 4rem 0;
  }
}

.our-friends-slider__wrapper {
  margin: $section-margin-bottom;
  @include media-mobile {
    padding: 0 0 0 1rem;
    margin: 0 0 11.1rem 0;
  }
}

.our-friends__button {
  @extend %text-center;
}
