.pets {
  background: $color-background-section;
}

.pets__title {
  margin: 0 0 5.4rem 0;
}

.pets-slider__wrapper {
  margin: $section-margin-bottom;
}

.pets__button {
  padding: 6rem 0 0 0;
  @extend %text-center;
}
