/* Abstracts */ /* Color */
/* Size */
/* Line-height */
/* 160% */
/* 115% */
/* 130% */
/* 130% */
/* 110% */
/*  */
/* 110% */
/* Font Family */
/* Radius*/
/* Font Weight */
/* Width */
/* Max-width section */
/* Padding & Margin */
/* Meida quaries */
/* @mixin media-desktop {
  @media (min-width: 1441px) {
    @content;
  }
}
@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}
 */
.donation__content, .donation__container, .help-list__item, .help-list, .about-columns, .hero__container, .header__container, .credit-card, .arrow, .slide, .slider, .slider__wrapper, .list, body {
  display: flex;
}

.donation__content, .help-list__item, .slide, .button, body {
  flex-direction: column;
}

.donation__container, .about-columns, .hero__container, .header__container, .credit-card, .slider, .slider__wrapper, body {
  justify-content: space-between;
}

.help-list, .arrow {
  justify-content: center;
}

.donation__container, .help-list__item, .hero__container, .header__container, .arrow, .slide, .slider, .slider__wrapper, .list, .button {
  align-items: center;
}

.about__text, .hero__text, .slide__title, .button {
  font-family: "Arial", Helvetica, sans-serif;
}

.pets__button, .section-title {
  text-align: center;
}

.arrow, .list__link:hover, .button {
  transition: ease-in-out 0.5s;
}

.arrow, .button {
  cursor: pointer;
}

.slide__title, .button, h5, h4, h3, h1 {
  letter-spacing: 0.06em;
}

/* Vendors */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  padding: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Base */
body {
  min-height: 100vh;
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  color: #4c4c4c;
  background: #ffffff;
}

/*Basic styles*/
html {
  font-size: 100%;
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  overflow: auto;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

section,
main,
footer,
header,
article {
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 4.4rem;
  line-height: 5.7rem;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

h3 {
  font-size: 3.5rem;
  line-height: 4.6rem;
  font-weight: 400;
  font-style: normal;
  color: #545454;
}

h4 {
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  font-style: normal;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 400;
  font-style: normal;
}

/*Utilities  */
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-inline: 1.5rem;
}

/* Components */
.button {
  display: inline-flex;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
  color: #292929;
  background: transparent;
  border: none;
  border-radius: 10rem;
}
.button--color {
  background: #f1cdb3;
  border: #f1cdb3;
}
.button--color:hover {
  background: #fddcc4;
}
.button--border {
  background: #ffffff;
  border: 2px solid #f1cdb3;
}
.button--border:hover {
  background: #f1cdb3;
}

.logo {
  display: inline-block;
  color: #f1cdb3;
}

.logo__title {
  margin: 0 0 1rem 0;
}

.logo__subtitle {
  padding: 0 0 0 0.4rem;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
}

.icon--sleeping-area, .icon--collars-leashes, .icon--medicines, .icon--vitamins, .icon--shampoos, .icon--bowls-cups, .icon--toys, .icon--transportation, .icon--pet-food {
  width: 60px;
  height: 60px;
}

.icon {
  display: inline-block;
}
.icon--arrow-next {
  width: 14px;
  height: 6px;
  background: url("../icons/arrow-next.svg");
}
.icon--arrow-prev {
  width: 14px;
  height: 6px;
  background: url("../icons/arrow-prev.svg");
}
.icon--pet-food {
  background: url("../icons/help/pet-food.svg");
}
.icon--transportation {
  background: url("../icons/help/transportation.svg");
}
.icon--toys {
  background: url("../icons/help/toys.svg");
}
.icon--bowls-cups {
  background: url("../icons/help/bowls-cups.svg");
}
.icon--shampoos {
  background: url("../icons/help/shampoos.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon--vitamins {
  background: url("../icons/help/vitamins.svg");
}
.icon--medicines {
  background: url("../icons/help/medicines.svg");
}
.icon--collars-leashes {
  background: url("../icons/help/leashes.svg");
}
.icon--sleeping-area {
  background: url("../icons/help/sleeping-area.svg");
}
.icon--credit-card {
  width: 30px;
  height: 23px;
  background: url("../icons/credit-card.svg");
}

.list__link::before, .list__link {
  transition: ease-in-out 0.8s;
}

.list__item:not(:first-child) {
  margin: 0 0 0 3.6rem;
}

.list__link {
  position: relative;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  color: #cdcdcd;
}
.list__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -6px;
  left: 1px;
  background: #f1cdb3;
  opacity: 0;
}
.list__link--active {
  color: #fafafa;
}
.list__link--active::before {
  opacity: 1;
}
.list__link:hover {
  color: #fafafa;
}
.list__link:hover::before {
  opacity: 1;
}

.hamburger {
  display: none;
}

.slider {
  gap: 90px;
}

.slide {
  background: #fafafa;
  flex-basis: 270px;
}

.slide__img {
  margin: 0 0 3rem 0;
  border: 0.9rem 0.9rem 0px 0px;
}

.slide__title {
  margin: 0 0 3rem 0;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  font-style: normal;
  color: #545454;
}

.slide__button {
  margin: 0 0 3rem 0;
}

/*Arrows */
.arrow {
  width: 52px;
  height: 52px;
  border: 0.2rem solid #f1cdb3;
  border-radius: 10rem;
}
.arrow:focus {
  background: #fddcc4;
}
.arrow:hover {
  background: #fddcc4;
}

.section {
  padding: 8rem 0 10rem;
}

.section-title {
  margin: 0 0 6rem 0;
}

.credit-card {
  padding: 1rem 1.5rem;
  background: #f1cdb3;
  border-radius: 0.9rem;
}

.credit-number {
  color: #545454;
}

/* Layout  */
.header {
  padding: 6rem 0;
  background: url("../images/background/noise_transparent@2x.png"), linear-gradient(90deg, #5b483a, #211f20);
}

.hero {
  background: url("../images/background/noise_transparent@2x.png"), linear-gradient(90deg, #5b483a, #211f20);
}

.hero__content {
  max-width: 460px;
  padding: 0 0 7.8rem;
}

.hero__title {
  margin: 0 0 4.2rem 0;
  padding: 0 15rem 0 0;
}

.hero__text {
  margin: 0 0 4.2rem 0;
  color: #cdcdcd;
}

.about__container {
  max-width: 880px;
}

.about-columns {
  gap: 12rem;
}

.about__content {
  padding: 1.4rem 0;
}

.about__title {
  padding: 0 6rem 0 0;
  margin: 0 0 2.5rem 0;
}

.about__text {
  max-width: 430px;
  color: #4c4c4c;
}
.about__text--first {
  margin: 0 0 2.5rem 0;
}

.pets {
  background: #f6f6f6;
}

.pets__title {
  margin: 0 0 5.4rem 0;
}

.pets-slider-wrapper {
  margin: 0 0 6rem 0;
}

.help__title {
  margin: 0 0 5.5rem;
}

.help-list__wrapper {
  padding: 0 0 0 0.3rem;
}

.help-list {
  flex-wrap: wrap;
  gap: 5.5rem 12rem;
}

.help-list__item {
  row-gap: 3rem;
}

.donation {
  background: #f6f6f6;
}

.donation__container {
  max-width: 945px;
}

.donation__img {
  flex-basis: 505px;
}

.donation__content {
  max-width: 380px;
  gap: 2rem;
}

.donation__header {
  padding: 0 8rem 0 0;
}

.donation__subtitle {
  color: #545454;
  padding: 0 7.3rem 0 0;
}

.donation__text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: italic;
  color: #b2b2b2;
}

.donation__credit-card {
  margin: 0 3.1rem 0 0;
}

/*# sourceMappingURL=main.css.map */
