/* Abstracts */ /* Color */
/* Size */
/* Line-height */
/* 160% */
/* 115% */
/* 130% */
/* 130% */
/* 130% */
/* 110% */
/* 110% */
/* Font Family */
/* Radius*/
/* Font Weight */
/* Width */
/* Max-width section */
/* Padding & Margin */
/* Meida quaries */
.slider-paginations, .footer-columns, .location__city, .mail,
.phone, .footer__location, .footer__contact, .donation__content, .donation__container, .help-list__item, .help-list, .about-columns, .hero__container, .header__container, .overlay, .credit-card, .pagination, .arrow, .slide, .slider__wrapper, .pets__slider, .slider, .list, body {
  display: flex;
}

.help-list, .pets__slider, .slider {
  flex-wrap: wrap;
}

.pets-slider__wrapper, .footer__location, .footer__contact, .donation__content, .help-list__item, .slide, .button, body {
  flex-direction: column;
}

.donation__container, .about-columns, .hero__container, .header__container, .credit-card, .slider__wrapper, .pets__slider, .slider, body {
  justify-content: space-between;
}

.help-list, .overlay, .pagination, .arrow {
  justify-content: center;
}

.location__city, .mail,
.phone, .donation__container, .help-list__item, .hero__container, .header__container, .overlay, .pagination, .arrow, .slide, .slider__wrapper, .pets__slider, .slider, .list, .button {
  align-items: center;
}

.about__text, .hero__text, .slide__title, .button {
  font-family: "Arial", Helvetica, sans-serif;
}

.our-friends__button, .section-title {
  text-align: center;
}

.mail__info,
.phone__number,
.location__info, .pagination, .arrow, .slide, .list__link:hover, .button {
  transition: ease-in-out 0.5s;
}

.pagination, .arrow, .slide, .burger-menu, .button {
  cursor: pointer;
}

.slide__title, .button, h5, h4, h3, h1 {
  letter-spacing: 0.06em;
}

/* Vendors */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  padding: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Base */
body {
  min-height: 100vh;
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  color: #4c4c4c;
  background: #ffffff;
  overflow: hidden;
}

.boody-hidden {
  height: 100vh;
  overflow-y: hidden;
  min-height: auto;
}

/*Basic styles*/
html {
  font-size: 100%;
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  overflow: auto;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

section,
main,
footer,
header,
article {
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 4.4rem;
  line-height: 5.7rem;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}
@media (max-width: 576px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
}

h3 {
  font-size: 3.5rem;
  line-height: 4.6rem;
  font-weight: 400;
  font-style: normal;
  color: #545454;
}
@media (max-width: 576px) {
  h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
}

h4 {
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 576px) {
  h4 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 400;
    font-style: normal;
  }
}

h5 {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 576px) {
  h5 {
    letter-spacing: normal;
  }
}

/*Utilities  */
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-inline: 1.5rem;
}
@media (max-width: 1026px) {
  .container {
    max-width: 738px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 330px;
  }
}

/* Components */
.button {
  display: inline-flex;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
  color: #292929;
  background: transparent;
  border: none;
  border-radius: 10rem;
}
.button--color {
  background: #f1cdb3;
  border: #f1cdb3;
}
.button--color:hover {
  background: #fddcc4;
}
.button--border {
  background: #ffffff;
  border: 2px solid #f1cdb3;
}
.button--border:hover {
  background: #f1cdb3;
}

.logo {
  display: inline-block;
  color: #f1cdb3;
}
.logo__title {
  margin: 0 0 1rem 0;
}

.logo__subtitle {
  padding: 0 0 0 0.4rem;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
}
@media (max-width: 1026px) {
  .logo__subtitle {
    color: #ffffff;
  }
}

.icon--sleeping-area, .icon--collars-leashes, .icon--medicines, .icon--vitamins, .icon--shampoos, .icon--bowls-cups, .icon--toys, .icon--transportation, .icon--pet-food {
  width: 60px;
  height: 60px;
}

.icon {
  display: inline-block;
}
.icon--arrow-next {
  width: 14px;
  height: 6px;
  background: url("../icons/arrow-next.svg");
}
.icon--arrow-prev {
  width: 14px;
  height: 6px;
  background: url("../icons/arrow-prev.svg");
}
.icon--pet-food {
  background: url("../icons/help/pet-food.svg");
}
@media (max-width: 576px) {
  .icon--pet-food {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}
.icon--transportation {
  background: url("../icons/help/transportation.svg");
}
@media (max-width: 576px) {
  .icon--transportation {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}
.icon--toys {
  background: url("../icons/help/toys.svg");
}
@media (max-width: 576px) {
  .icon--toys {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}
.icon--bowls-cups {
  background: url("../icons/help/bowls-cups.svg");
}
@media (max-width: 576px) {
  .icon--bowls-cups {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}
.icon--shampoos {
  background: url("../icons/help/shampoos.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 576px) {
  .icon--shampoos {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}
.icon--vitamins {
  background: url("../icons/help/vitamins.svg");
}
@media (max-width: 576px) {
  .icon--vitamins {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}
.icon--medicines {
  background: url("../icons/help/medicines.svg");
}
@media (max-width: 576px) {
  .icon--medicines {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}
.icon--collars-leashes {
  background: url("../icons/help/leashes.svg");
}
@media (max-width: 576px) {
  .icon--collars-leashes {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}
.icon--sleeping-area {
  background: url("../icons/help/sleeping-area.svg");
}
@media (max-width: 576px) {
  .icon--sleeping-area {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}
.icon--credit-card {
  width: 30px;
  height: 23px;
  background: url("../icons/credit-card.svg");
}
.icon--phone {
  width: 40px;
  height: 32px;
  background: url("../icons/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon--mail {
  width: 40px;
  height: 32px;
  background: url("../icons/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon--marker {
  width: 22px;
  height: 32px;
  background: url("../icons/marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon--close {
  width: 12px;
  height: 12px;
  background: url("../icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.list__link::before, .list__link {
  transition: ease-in-out 0.8s;
}

/* .navigation {
  @media (max-width: 765px) {
    display: none;
  }
}
 */
.list__item {
  margin-bottom: 0.2rem;
}
.list__item:not(:first-child) {
  margin: 0 0 0.2rem 3.6rem;
}

.list__link {
  position: relative;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  color: #cdcdcd;
}
.list__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -6px;
  left: 1px;
  background: #f1cdb3;
  opacity: 0;
}
.list__link--active {
  color: #fafafa;
}
.list__link--active::before {
  opacity: 1;
}
.list__link:hover {
  color: #fafafa;
}
.list__link:hover::before {
  opacity: 1;
}
@media (max-width: 765px) {
  .list__link {
    font-size: 3.2rem;
    line-height: 2.4rem;
    font-weight: 400;
    font-style: normal;
  }
}

@media (max-width: 765px) {
  .header__nav {
    position: absolute;
    top: 0;
    right: -1000px;
    background: #292929;
    transition: ease-in-out 1s;
    width: 320px;
    min-height: 100vh;
  }
  .header__nav.open-menu {
    right: 0;
  }
}

@media (max-width: 765px) {
  .header__list {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-top: 24.8rem;
  }
  .header__list .list__item:not(:last-child) {
    margin: 0 0 4rem 0;
  }
  .header__list .list__item:not(:first-child) {
    margin: 0 0 4rem 0;
  }
}

.burger-menu {
  width: 30px;
  height: 21px;
  display: none;
  user-select: none;
}
@media (max-width: 765px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .burger-menu.open {
    transform: rotate(-90deg);
  }
}
@media (max-width: 576px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .burger-menu.open {
    transform: rotate(-90deg);
  }
}

.burger-menu__line {
  width: 100%;
  height: 2px;
  background: #f1cdb3;
}

.slider__wrapper {
  overflow: hidden;
}

.slider {
  gap: 9rem;
}
@media (max-width: 1026px) {
  .slider {
    flex-basis: 580px;
    flex-wrap: nowrap;
    gap: 4rem;
    overflow: hidden;
  }
}
@media (max-width: 576px) {
  .slider {
    flex-basis: 270px;
    overflow: hidden;
    gap: 0;
  }
}

.slide {
  flex-basis: 270px;
  background: #fafafa;
  border-radius: 0.9rem 0.9rem;
}
.slide:hover {
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.slide__img {
  margin: 0 0 3rem 0;
}

.slide__title {
  margin: 0 0 3rem 0;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  font-style: normal;
  color: #545454;
}

.slide__button {
  margin: 0 0 3rem 0;
}

/*Arrows */
.pagination, .arrow {
  width: 52px;
  height: 52px;
  border: 0.2rem solid #f1cdb3;
  border-radius: 10rem;
}

.arrow:focus {
  background: #fddcc4;
}
.arrow:hover {
  background: #fddcc4;
  box-shadow: rgba(255, 255, 255, 0.978) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
@media (max-width: 576px) {
  .arrow {
    position: absolute;
    bottom: 9.5rem;
  }
}

@media (max-width: 576px) {
  #arrow-left {
    left: 6.8rem;
  }
}

@media (max-width: 576px) {
  #arrow-right {
    right: 6.8rem;
  }
}

.pagination--inactive {
  color: #cdcdcd;
  border-color: #cdcdcd;
}
.pagination--inactive:hover {
  color: #292929;
  border-color: #f1cdb3;
}
.pagination--active {
  background: #f1cdb3;
  color: #292929;
}

.section {
  padding: 7.9rem 0 10rem;
}
@media (max-width: 576px) {
  .section {
    padding: 4.2rem 0;
  }
}

.section-title {
  margin: 0 0 6rem 0;
}

@media (max-width: 576px) {
  .title-break-line {
    display: block;
  }
}

.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  display: none;
  background: rgba(41, 41, 41, 0.6);
}

.show-shadow {
  display: block;
}

.modal-overlay {
  background: rgba(41, 41, 41, 0.6);
}

.credit-card {
  padding: 1rem 1.5rem;
  background: #f1cdb3;
  border-radius: 0.9rem;
}
@media (max-width: 576px) {
  .credit-card {
    gap: 1.5rem;
  }
}

.credit-number {
  color: #545454;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.8);
}

.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 952px;
  min-height: 341px;
  max-height: 90%;
  background: transparent;
  overflow: auto;
}

.modal-content {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #FAFAFA;
  width: 900px;
  border-radius: 9px;
}

.modal-close__button {
  align-self: end;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 10rem;
  cursor: pointer;
}

.modal-close__icon {
  cursor: pointer;
}
.modal-close__icon svg {
  pointer-events: none;
}

/* Layout  */
.header {
  padding: 6rem 0;
  background: url("../images/background/noise_transparent@2x.png"), linear-gradient(90deg, #5b483a, #211f20);
}
@media (max-width: 1026px) {
  .header {
    padding: 3rem 0;
  }
}

@media (max-width: 576px) {
  .header__container {
    max-width: 300px;
    padding: 0 4.3rem 0 0;
  }
}

.hero {
  background: url("../images/background/noise_transparent@2x.png"), linear-gradient(90deg, #5b483a, #211f20);
}

@media (max-width: 1026px) {
  .hero__container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
  }
}

.hero__content {
  max-width: 460px;
  padding: 0 0 7.8rem;
}
@media (max-width: 1026px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 9.8rem;
  }
}
@media (max-width: 576px) {
  .hero__content {
    padding: 0 0 10.5rem 0;
    text-align: center;
  }
}

.hero__title {
  margin: 0 0 4.2rem 0;
  padding: 0 15rem 0 0;
}
@media (max-width: 576px) {
  .hero__title {
    padding: 0 0 0;
  }
}

.hero__text {
  margin: 0 0 4.2rem 0;
  color: #cdcdcd;
}
@media (max-width: 1026px) {
  .hero__text {
    min-width: 300px;
  }
}

@media (max-width: 1026px) {
  .hero__img {
    margin-left: auto;
  }
}

.about__container {
  max-width: 880px;
}
@media (max-width: 1026px) {
  .about__container {
    max-width: 465px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.6rem;
  }
}
@media (max-width: 1026px) and (max-width: 576px) {
  .about__container {
    max-width: 300px;
    padding-inline: 1.5rem;
  }
}

.about-columns {
  gap: 12rem;
}
@media (max-width: 1026px) {
  .about-columns {
    flex-direction: column-reverse;
    align-items: center;
    gap: 8rem;
  }
}
@media (max-width: 576px) {
  .about-columns {
    gap: 1.8rem;
  }
}

.about__content {
  padding: 1.4rem 0;
}
@media (max-width: 1026px) {
  .about__content {
    padding: 0;
  }
}

.about__title {
  padding: 0 6rem 0 0;
  margin: 0 0 2.6rem 0;
}
@media (max-width: 576px) {
  .about__title {
    padding: 0;
  }
}

.about__text {
  max-width: 430px;
  color: #4c4c4c;
}
.about__text--first {
  margin: 0 0 2.6rem 0;
}
@media (max-width: 576px) {
  .about__text--first {
    margin: 0 0 2.2rem 0;
  }
}
@media (max-width: 576px) {
  .about__text {
    text-align: justify;
  }
}

.our-friends {
  background: #f6f6f6;
}

.our-friends__container {
  position: relative;
}

.our-friends__title {
  margin: 0 0 5.4rem 0;
}
@media (max-width: 576px) {
  .our-friends__title {
    margin: 0 0 4rem 0;
  }
}

.our-friends-slider__wrapper {
  padding: 0 0 6rem 0;
}
@media (max-width: 576px) {
  .our-friends-slider__wrapper {
    padding: 0 0 0 1rem;
    margin: 0 0 11.1rem 0;
  }
}

.help__title {
  margin: 0 0 5.5rem;
}
@media (max-width: 1026px) {
  .help__title {
    padding: 0 0 0.1rem;
  }
}
@media (max-width: 576px) {
  .help__title {
    margin: 0 0 4.2rem;
  }
}

.help-list__wrapper {
  padding: 0 0 0 0.3rem;
}
@media (max-width: 1026px) {
  .help-list__wrapper {
    padding: 0 0.4rem 0 0;
  }
}
@media (max-width: 576px) {
  .help-list__wrapper {
    padding: 0;
  }
}

.help-list {
  gap: 5.5rem 12rem;
}
@media (max-width: 1026px) {
  .help-list {
    gap: 5.5rem 6rem;
  }
}
@media (max-width: 576px) {
  .help-list {
    gap: 3rem 0;
    justify-content: space-between;
  }
}

.help-list__item {
  row-gap: 3rem;
}
@media (max-width: 1026px) {
  .help-list__item {
    width: 170px;
  }
}
@media (max-width: 576px) {
  .help-list__item {
    width: 130px;
    row-gap: 2rem;
  }
}

.donation {
  background: #f6f6f6;
}

.donation__container {
  max-width: 945px;
}
@media (max-width: 1026px) {
  .donation__container {
    flex-direction: column-reverse;
    gap: 6rem;
  }
}
@media (max-width: 576px) {
  .donation__container {
    max-width: 330px;
    gap: 4rem;
    text-align: center;
  }
}

.donation__img {
  flex-basis: 505px;
}

.donation__content {
  max-width: 380px;
  gap: 2rem;
}

.donation__header {
  padding: 0 8rem 0 0;
}
@media (max-width: 576px) {
  .donation__header {
    padding: 0;
  }
}

.donation__subtitle {
  color: #545454;
}
@media (max-width: 576px) {
  .donation__subtitle {
    line-height: 2.4rem;
  }
}

.donation__text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: italic;
  color: #b2b2b2;
}
@media (max-width: 576px) {
  .donation__text {
    text-align: justify;
  }
}

.donation__credit-card {
  margin: 0 3.1rem 0 0;
}
@media (max-width: 576px) {
  .donation__credit-card {
    margin: 0 auto;
  }
}

.location__city, .mail,
.phone {
  gap: 2rem;
}

.footer {
  background: url("../images/background/noise_transparent@2x.png"), linear-gradient(90deg, #5b483a, #211f20);
}

.footer__container {
  padding: 4rem 0 0;
}
@media (max-width: 1026px) {
  .footer__container {
    max-width: 670px;
    padding: 1.8rem 0 0;
  }
}
@media (max-width: 576px) {
  .footer__container {
    max-width: 330px;
  }
}

.footer-columns {
  justify-content: space-around;
  gap: 13rem;
}
@media (max-width: 1026px) {
  .footer-columns {
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .footer-columns {
    gap: 3rem;
  }
}

.footer-column {
  padding: 1.8rem 0 0 0;
}
@media (max-width: 1026px) {
  .footer-column {
    padding: 1.35rem 0 0 0;
  }
}
@media (max-width: 576px) {
  .footer-column {
    padding: 1rem 0 0;
  }
  .footer-column:last-of-type {
    padding: 1rem 0;
  }
}

.footer-column__title {
  color: #ffffff;
}
.footer-column__title .title-break-line {
  display: block;
}
@media (max-width: 576px) {
  .footer-column__title .title-break-line {
    display: inline;
  }
}

.mail__info,
.phone__number,
.location__info {
  color: #f1cdb3;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  font-style: normal;
}
.mail__info:hover,
.phone__number:hover,
.location__info:hover {
  color: #fafafa;
}

.footer__contact {
  gap: 3.76rem;
}
@media (max-width: 576px) {
  .footer__contact {
    gap: 4rem;
  }
}

@media (max-width: 576px) {
  .mail,
.phone {
    align-self: center;
  }
}

.footer__location {
  gap: 3.1rem;
}
@media (max-width: 576px) {
  .footer__location {
    gap: 4rem;
  }
}

@media (max-width: 576px) {
  .footer__location-title {
    padding-inline: 1.5rem;
  }
}

@media (max-width: 1026px) {
  .location__city {
    padding-inline: 1rem;
  }
}
@media (max-width: 576px) {
  .location__city:first-of-type {
    gap: 1.9rem;
  }
}

.location__info {
  max-width: 260px;
}

.footer__link {
  display: inline-flex;
}

/* Pages */
.pets {
  padding: 7.9rem 0 7.5rem;
  background: #f6f6f6;
}

.pets__header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 0;
  background: #ffffff;
}

/* Logo */
.pets__logo .logo__title {
  color: #545454;
}
.pets__logo .logo__subtitle {
  color: #292929;
}

/* Header */
@media (max-width: 765px) {
  .pets__nav {
    display: none;
  }
}
.pets__nav .list__link {
  color: #545454;
}
.pets__nav .list__link:hover {
  color: #292929;
}
.pets__nav .list__link--active {
  color: #292929;
}

/* Our-pets Slider */
.pets__title {
  margin: 0;
  padding: 0 0 3rem 0;
}

.pets__slider {
  gap: 2.4rem 4rem;
}
@media (max-width: 1026px) {
  .pets__slider {
    justify-content: center;
    height: 1365px;
    gap: 2.6rem 4rem;
    overflow: hidden;
  }
}

.pets__slider-paginations {
  padding: 5.5rem 0 0 0;
}
@media (max-width: 1026px) {
  .pets__slider-paginations {
    padding: 4rem 0 0;
  }
}

.slider-paginations {
  gap: 2rem;
}
@media (max-width: 577px) {
  .slider-paginations {
    gap: 0.7rem;
  }
}

/* Burger  */
.pets__burger-menu .burger-menu__line {
  background: #000000;
}

/*# sourceMappingURL=main.css.map */
